**/*.log

.DS_Store

.vscode


# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
cypress/videos
cypress/screenshots
cypress/reports
cypress/results
cypress/downloads

# Values in here will overwrite conflicting environment variables in your Cypress configuration.
cypress.env.json

cypress_docker